body {
    font-family: 'Poppins', sans-serif;
}




.footer {
    position:absolut;
    bottom: 0;
    width:100%;
    background-color: #F2D0A7;
}

.fondo {
    background-color: #F2F7CE;
}

.nav {
    background-color:#F2D0A7;
    position: sticky;
    top: 0;
    z-index: 1;
}

.section {
    background-color:#D9A441;
}


